.menuContainer {
  @apply w-72 rounded-md
  absolute top-16 overflow-hidden
  bg-gray-800 text-white
  ease-in-out duration-200;
  transform: translateX(-45%);
}

.menu {
  @apply flex flex-col w-full
  space-y-1 p-2 ;
}

.dropDownItem {
  @apply flex items-center
  rounded-md p-4 
  font-medium bg-transparent hover:bg-gray-700;
}

.menu {
  --speed: 0.3s;
}

.primaryEnter {
  position: absolute;
  transform: translateX(-110%);
}

.primaryEnterActive {
  transform: translateX(0%);
  transition: transform var(--speed) ease;
}

.primaryExit {
  position: absolute;
}

.primaryExitActive {
  transform: translateX(-110%);
  transition: transform var(--speed) ease;
}

.secondaryEnter {
  transform: translateX(110%);
}

.secondaryEnterActive {
  transform: translateX(0%);
  transition: transform var(--speed) ease;
}

.secondaryExitActive {
  transform: translateX(110%);
  transition: transform var(--speed) ease;
}
