.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: transform 0.3s ease-in-out;
}

.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: transform 0.3s ease-in-out;
}
